<td class="col-md-10 offset-md-2">
  <%= link_to comment.post.title, post_path(comment.post) %>
</td>
<td class="col-md-6 offset-md-2">
  <p id="comment-title-<%= comment.id %>" class="title my-font">
    <%= comment.content %>
  </p>
</td>
<td class='my-operation col-md-1'><%= render 'shared/edit_comment', comment: comment %></td>