<%= render "shared/user_profile", user: @user %>
<%= render "shared/index_nav", user: @user %>

<h1>朋友系統維護中</h1>
<%#= render "shared/friend_list", users: @waiting %>
<%#= render "shared/friend_list", users: @accept_or_not %>
<%#= render "shared/friend_list", users: @friend %>
