<%= render "shared/user_profile", user: @user %>
<%= render "shared/index_nav", user: @user %>

<%= render "shared/user_posts", posts: @posts %>
<br>

<%= link_to 'New Post', new_post_path %>


<!-- <div class="container pagination justify-content-center" >
  <%#= paginate @post.comment, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
</div> -->
