<div class="row">
  <div class="col-md-4">
    <%= image_tag user.avatar, class: "img-fluid rounded"%>
    <h1><%= link_to user.name, user_path(user), class: "btn btn-primary" %></h1>
  </div>
  <div class="col-offset-1 col-md-7">
    <%= user.intro %>
    <% if current_user %>
      <%= link_to "follow", class: "float-right" %>
    <% end %>
  </div>
</div>