<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Dojo Forum</h1>
  </div>
</div>

<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <ul class= "nav nav-pills">
      <li role= "presentation" class= "nav-item"><%= link_to "All", root_path, class: "nav-link" %></li>
      <% @categories.each do |category| %>
        <li role= "presentation" class= "nav-item" ><%= link_to category.name, category_path(category), class: "nav-link #{"active" if category == @category}" %></li>
      <% end %>
    </ul>
  </div>
  <br>
  <div class="row">
    <%= render "shared/post_list", posts: @posts %>
  </div>
</div>
